@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/examplelayout.cshtml";
}
<link href="~/CSS/CCourse.css" rel="stylesheet" />
<h2>Change password</h2>
<hr />
<p style="margin-left: 20px;">Hi, @Session["Username"]! Change your password here:</p>

<div style="margin: 20px; padding: 10px; border: 1px solid #ccc; border-radius: 5px; width: 300px;">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "passwordForm" }))
    {
        @Html.HiddenFor(model => @Session["UserId"])

    <div class="form-group">
        <label>New password: </label>
        <input type="password" id="pswd" name="Password" placeholder="Enter new password" class="form-control" required />
        <span id="pswdError" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Confirm password: </label>
        <input type="password" id="cnfpswd" name="confirmPassword" placeholder="Confirm your password" class="form-control" required />
        <span id="cnfpswdError" class="text-danger"></span>
    </div><br />
        <button type="submit" id="updtsbmt" class="btn btn-primary custom">Update</button>
    }
</div>

<script>
    var idsecrt = "";

    // Password field on focus out
    $('#pswd').focusout(function () {
        var pss = $(this).val();
        var passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d!@@#$%^&*()-_+=?]{8,}$/;

        // Password validation
        if (pss.trim() === "") {
            $('#pswdError').text("Password is required.");
        } else if (!passwordPattern.test(pss)) {
            $('#pswdError').text("Password must be at least 8 characters long and contain both letters and digits.");
        } else {
            $('#pswdError').text("");
        }
    });

    // Confirm password field on focus out
    $('#cnfpswd').focusout(function () {
        var pss = $('#pswd').val();
        var confirmPss = $(this).val();

        // Confirm password validation
        if (confirmPss.trim() === "") {
            $('#cnfpswdError').text("Confirm Password is required.");
        } else if (pss !== confirmPss) {
            $('#cnfpswdError').text("Password and Confirm Password do not match.");
        } else {
            $('#cnfpswdError').text("");
        }
    });

    // Event listener for update button click
    $('#updtsbmt').click(function (e) {
        var pss = $('#pswd').val();
        var confirmPss = $('#cnfpswd').val();

        // Password validation
        if (pss.trim() === "") {
            $('#pswdError').text("Password is required.");
            return;
        }

        // Confirm password validation
        if (confirmPss.trim() === "") {
            $('#cnfpswdError').text("Confirm Password is required.");
            return;
        } else if (pss !== confirmPss) {
            $('#cnfpswdError').text("Password and Confirm Password do not match.");
            return;
        }

        var param = JSON.stringify({
            Id: @Session["UserId"],
            Password: pss,
            ConfirmPassword: confirmPss
        });

        $.ajax({
            type: 'POST',
            url: '@Url.Action("EditPass", "Newadmin")',
            contentType: 'application/json; charset=utf-8',
            data: param,
            dataType: 'json',
            success: function (data) {
                if (data.Success) {
                    alert(data.Message);
                    window.location.href = '@Url.Action("AdminPassword", "Newadmin")';
                } else {
                    alert("Password update successful.");
                }
            }
        });
    });
</script>
