@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/examplelayout.cshtml";
}
<link href="~/CSS/CCourse.css" rel="stylesheet" />
<h2>Change Password</h2>
<hr />
<p style="margin-left: 20px;">Hi, @Session["Username"]! Change your password here:</p>

<div style="margin: 20px; padding: 10px; border: 1px solid #ccc; border-radius: 5px; width: 300px;">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "passwordForm" }))
    {
        @Html.HiddenFor(model => @Session["UserId"])

        <div class="form-group">
            <label>New password: </label>
            <input type="password" id="pswd" name="Password" placeholder="Enter new Password" class="form-control" required />
        </div>
        <div class="form-group">
            <label>Confirm password: </label>
            <input type="password" id="cnfpswd" name="confirmPassword" placeholder="Confirm your password" class="form-control" required />
        </div><br />
        <button type="submit" id="updtsbmt" class="btn btn-primary custom">Update</button>
    }
</div>

    <script>
    var idsecrt = "";

 $('#updtsbmt').click(function (e) {

    var pss = $('#pswd').val();
    var confirmPss = $('#cnfpswd').val();
    var passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d!@@#$%^&*()-_+=?]{8,}$/;

     if (pss.trim() === "") {
         alert("Password is required.");
         return;
     } else if (!passwordPattern.test(pss)) {
         alert("Password must be at least 8 characters long and contain both letters and digits.");
         return;
     } else if (pss !== confirmPss) {
         alert("Password and Confirm Password do not match.");
         return;
     }

    var param = JSON.stringify({
        Id: @Session["UserId"],
        Password: pss
    });

    $.ajax({
        type: 'POST',
        url: '@Url.Action("EditPass", "Newadmin")',
        contentType: 'application/json; charset=utf-8',
        data: param,
        dataType: 'json',
        success: function (data) {
            if (data.Success) {
                alert(data.Message);
                window.location.href = '@Url.Action("AdminPassword", "Newadmin")';
            } else {
                alert("Password update successful.");
            }
        }
    });
});


    </script>
