@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_UserHomepage.cshtml";
}
<link href="~/CSS/Course.css" rel="stylesheet" />
<div>
    <h2>User profile</h2>
    <hr />
<link href="~/CSS/ProfileView.css" rel="stylesheet" />
<dl class="dl-horizontal">

    <dt>Username</dt>
    <dd>: @Model.Username</dd>

    <dt>First name</dt>
    <dd>: @Model.FirstName</dd>

    <dt>Last name</dt>
    <dd>: @Model.LastName</dd>

    <dt>E-mail</dt>
    <dd>: @Model.Email</dd>

    <dt>Date of birth</dt>
    <dd>: @Model.DateOfBirth</dd>

    <dt>Gender</dt>
    <dd>: @Model.Gender</dd>

    <dt>Phone</dt>
    <dd>: @Model.Phone</dd>

    <dt>State</dt>
    <dd>: @Model.State</dd>

    <dt>City</dt>
    <dd>: @Model.City</dd>

    <dd><button value="@Model.Id" class="btn btn-primary myBtn">Update</button></dd>
</dl>
</div>
<div id="myModal" class="modal">

    <div class="modal-content">
        <span class="close">&times;</span>
        <form>
            <div class="container">
                <center>  <h4>Update user details</h4> </center>
                <hr>
                <label> First name </label>
                <input type="text" id="fst" name="firstname" placeholder="First Name" size="17" required />
                <label> Last name: </label>
                <input type="text" id="lst" name="lastname" placeholder="Last Name" size="17" required />
                <label> Username: </label>
                <input type="text" id="usr" name="username" placeholder="username" size="20" required /><br /><br />
                <label> E-mail: </label>
                <input type="text" id="eml" name="email" placeholder="E-mail" size="15" required />
                <label> Phone: </label>
                <input type="text" id="phn" name="phone" placeholder="Phone" size="15" required />

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" id="updtsbmt" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>
<script>
var modal = document.getElementById("myModal");
var span = document.querySelector(".close");
var idsecrt = "";
// Function to validate email format
function isValidEmail(email) {
    var emailRegex = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
    return emailRegex.test(email);
}

// Function to validate phone number format
function isValidPhone(phone) {
    var phoneRegex = /^\d{10}$/;
    return phoneRegex.test(phone);
}3

// Function to validate if the input contains only letters
function containsOnlyLetters(value) {
    var lettersRegex = /^[A-Za-z]+$/;
    return lettersRegex.test(value);
}

// Function to display error message beneath the input field
function displayError(fieldId, message) {
    $("#" + fieldId).addClass("input-error");
    $("#" + fieldId + "-error").remove();
    $("#" + fieldId).after("<div id='" + fieldId + "-error' class='error-message'>" + message + "</div>");
}

// Function to remove error message when the input is valid
function removeError(fieldId) {
    $("#" + fieldId).removeClass("input-error");
    $("#" + fieldId + "-error").remove();
}

    $("#phn").on("focusout", function () {
        var value = $(this).val();
        if (value === "") {
            displayError("phn", "Phone is required");
        } else if (!isValidPhone(value)) {
            displayError("phn", "Phone should contain exactly 10 digits");
        } else {
            removeError("phn");
        }
    });

    $("#fst").on("focusout", function () {
        var value = $(this).val();
        if (value === "") {
            displayError("fst", "First name is required");
        } else if (!containsOnlyLetters(value)) {
            displayError("fst", "First name should contain only letters");
        } else {
            removeError("fst");
        }
    });

    $("#lst").on("focusout", function () {
        var value = $(this).val();
        if (value === "") {
            displayError("lst", "Last name is required");
        } else if (!containsOnlyLetters(value)) {
            displayError("lst", "Last name should contain only letters");
        } else {
            removeError("lst");
        }
    });

    // Validate user
    $("#usr").on("input", function () {
        var emailValue = $("#usr").val();
        var usernameValue = $(this).val();

        if (usernameValue === "") {
            displayError("usr", "Usrename is required");
        } else if (!isValidEmail(usernameValue)) {
            displayError("usr", "Enter a valid username same as email");
        } else {
            removeError("usr");
        }
    });

    // Validate email
    $("#eml").on("input", function () {
        var emailValue = $(this).val();
        var usernameValue = $("#usr").val();

        if (emailValue === "") {
            displayError("eml", "Email is required");
        } else if (!isValidEmail(emailValue)) {
            displayError("eml", "Enter a valid email address");
        }else {
            removeError("eml");
        }
    });

    // Update values in real time
    $("#eml").on("input", function () {
        var emailValue = $(this).val();
        $("#usr").val(emailValue);
    });

    $("#usr").on("input", function () {
        var usernameValue = $(this).val();
        $("#eml").val(usernameValue);
    });

$(".myBtn").click(function () {
    $("#fst").val("");
    $("#lst").val("");
    $("#usr").val("");
    $("#eml").val("");
    $("#phn").val("");

    var param = $(this).val();
    idsecrt = param;
    modal.style.display = "block";

    $.ajax({
        type: "POST",
        url: "@Url.Action("Details", "EUser")",
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify({ id: param }),
        dataType: "json",
        success: function (data) {
            $("#fst").val(data.FirstName);
            $("#lst").val(data.LastName);
            $("#usr").val(data.Username);
            $("#eml").val(data.Email);
            $("#phn").val(data.Phone);
            $("#gen").val(data.Gender);
            $("#stte").val(data.State);
            $("#cty").val(data.City);
            $("#dob").val(data.DateOfBirth);
        }
    });
});

$("#updtsbmt").click(function () {
    var fst = $("#fst").val();
    var lst = $("#lst").val();
    var usr = $("#usr").val();
    var eml = $("#eml").val();
    var phn = $("#phn").val();

    var param = JSON.stringify({
        Id: idsecrt,
        FirstName: fst,
        LastName: lst,
        Username: usr,
        Email: eml,
        Phone: phn
    });

    modal.style.display = "block";

    $.ajax({
        type: "POST",
        url: "@Url.Action("Edit", "EUser")",
        contentType: "application/json; charset=utf-8",
        data: param,
        dataType: "json",
        success: function (data) {
            window.location.href = window.location.href;
        }
    });

    idsecrt = "";
});

span.onclick = function () {
    modal.style.display = "none";
};

window.onclick = function (event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
};
</script>
